<nav class="navbar navbar-expand-lg " id="baseNavBar">
  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <button routerLink="/login">Login</button>
    <button routerLink="/register">Sign Up</button>
    <button routerLink="/landing">Home</button>
  </div>
</nav>