<div>
  <form id="registerForm" class="form-group" #registerForm="ngForm" (ngSubmit)="registerTrainer()" method="POST">
    <div class="form-group">
      <label for="username">Username: </label>
      <input name="username" class="form-control" required
        placeholder="username" #username="ngModel">

      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
        <div *ngIf="username.errors.required">
          Username is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input name="password" class="form-control" required type="password"
        placeholder="password" #password="ngModel">

        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
          <div *ngIf="username.errors.required">
            Password is required.
          </div>
        </div>
    </div>
    
    <div class="form-group">
      <label for="firstname">First Name: </label>
      <input name="firstname" class="form-control" required
        placeholder="f_name" #f_name="ngModel">

      <div *ngIf="f_name.invalid && (f_name.dirty || f_name.touched)" class="alert alert-danger">
        <div *ngIf="f_name.errors.required">
          First name is required.
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="lastname">Last Name: </label>
      <input name="lastname" class="form-control" required
        placeholder="l_name" #l_name="ngModel">

      <div *ngIf="l_name.invalid && (l_name.dirty || l_name.touched)" class="alert alert-danger">
        <div *ngIf="l_name.errors.required">
          Last name is required.
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="email">Email: </label>
      <input name="email" class="form-control" required type="email"
        placeholder="email" #email="ngModel">

      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
      </div>
    </div>

    <input name="submit" type="submit" class="btn btn-outline-light" [disabled]="!registerForm.form.valid">
  </form>
</div>
