<div class="container login-form-cont">
  <div class="row justify-content-center">
    <div class="col-md-6 justify-content-center" id="register_outer_cont">
      <img
        class="animated wobble mt-3"
        src="https://fontmeme.com/permalink/190312/16a6fa3029a30455d5905b3f520897c9.png"
        id="pokeFONT"
      />

      <form
        id="registerForm"
        class=" login-form"
        #registerForm="ngForm"
        (ngSubmit)="registerTrainer()"
      >
        <div class="form-group">
          <label for="username">Username </label>
          <input
            type="text"
            name="username"
            class="form-control"
            required
            #username="ngModel"
            [class.is-valid]="username.valid"
            [class.is-invalid]="username.invalid && username.touched"
            [(ngModel)]="registerModel.username"
          />

          <small
            class="text-danger"
            [class.d-none]="username.valid || username.untouched"
            >Username is required.</small
          >
        </div>

        <div class="form-group">
          <label for="password">Password </label>
          <input
            name="password"
            class="form-control"
            required
            type="password"
            #password="ngModel"
            [class.is-valid]="password.valid"
            [class.is-invalid]="password.invalid && password.touched"
            [(ngModel)]="registerModel.password"
          />

          <small
            class="text-danger"
            [class.d-none]="password.valid || password.untouched"
            >Password is requried.</small
          >
        </div>

        <div class="form-group">
          <label for="fname">First Name </label>
          <input
            type="text"
            name="fname"
            class="form-control"
            required
            #fname="ngModel"
            [class.is-valid]="fname.valid"
            [class.is-invalid]="fname.invalid && fname.touched"
            [(ngModel)]="registerModel.fname"
          />
          <small
            class="text-danger"
            [class.d-none]="fname.valid || fname.untouched"
          >
            Firstname is required
          </small>
        </div>

        <div class="form-group">
          <label for="lname">Last Name </label>
          <input
            type="text"
            name="lname"
            class="form-control"
            required
            #lname="ngModel"
            [class.is-valid]="lname.valid"
            [class.is-invalid]="lname.invalid && lname.touched"
            [(ngModel)]="registerModel.lname"
          />

          <small
            class="text-danger"
            [class.d-none]="lname.valid || lname.untouched"
          >
            Lastname is required
          </small>
        </div>

        <div class="form-group">
          <label for="email">Email </label>
          <input
            name="email"
            class="form-control"
            required
            type="email"
            #email="ngModel"
            [class.is-valid]="email.valid"
            [class.is-invalid]="email.invalid && email.touched"
            [(ngModel)]="registerModel.email"
          />
          <small
            class="text-danger"
            [class.d-none]="email.valid || email.untouched"
            >Email is requried.</small
          >
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show d-none"
          id="login-alert"
          role="alert"
        >
          <img src="http://i64.tinypic.com/2nhqjbp.png" alt="" />
          <strong>Erm...</strong> What was your name again...?
          <button
            id="login-alert"
            type="button"
            class="close"
            aria-label="Close"
            (click)="onAlertClose()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <input
          name="submit"
          type="submit"
          class="btn btn-block login-form-btn"
        />
        <!-- [disabled]="!registerForm.form.valid" -->
      </form>
    </div>
  </div>
</div>
