  <div class="container " id="shop-form-container">
    <div class="row justify-content-center">
      <div class="col justify-content-center" id="shop-form-col">
        <div class="shop-form-scroll">
          <form name="buyForm" #buyForm="ngForm" novalidate>
            <div id="shop-form-header">
              <img
                class="animated shake"
                id="poke-shop-header"
                src="https://fontmeme.com/permalink/190223/7f951f27330efe3f5e717c68950edf06.png"
                alt=""
              />
              <button
                data-toggle="modal"
                data-target="#newpokemonModal"
                class="shop-buy-btn"
                id="shop-buy-btn"
                type="submit"
                (click)="showBoughtMessage()"
              >
                Buy
              </button>
           
            </div>
            <form>
              <h4 id="dropdown-label">Number of Pokemon per page</h4>
              <select name="setNumPoke" class="form-control" [(ngModel)]="numPoke" (change)="populatePokePages()">
                <option value=20>20</option>
                <option value=50>50</option>
                <option value=100>100</option>
              </select>
            </form>
            <div *ngIf="showPagination">
              <button class="shop-page-btn" type="button" value="previous page" (click)="prevPage()">Prev</button>
              <button class="shop-page-btn" type="button" value="next page" (click)="nextPage()">Next</button>
            </div>            
            <div class="radio-card-grid">
              <div
                class="form-check radio-form-item"
                *ngFor="let pokemon of pokePages"
              >
                <input
                  class="form-check-input customRadioBtn"
                  type="radio"
                  #pokemonCard="ngModel"
                  name="gridRadios"
                  value="{{ pokemon.id }}"
                  checked
                  [(ngModel)]="selectedPoke"
                />
                <div class="pokemon-card-outer">
                  <label
                    class="form-check-label shop-poke-name"
                    for="gridRadios1"
                  >
                    {{ pokemon.name }}
                  </label>
                  <img class="pokemon-card-img" src="{{ pokemon.imageUrl }}" />
                  <div class="pokemon-card-info-cont">
                    <p>Cost: {{ pokemon.cost }}</p>
                    <p *ngIf= "pokemon?.type.length == 1">Type: {{ pokemon.type[0].charAt(0).toUpperCase() + pokemon.type[0].substring(1) }}</p>
                    <p *ngIf= "pokemon?.type.length == 2"> Type: {{ pokemon.type[1].charAt(0).toUpperCase() + pokemon.type[1].substring(1) + " / "
                     + pokemon.type[0].charAt(0).toUpperCase() + pokemon.type[0].substring(1) }}</p>
                    <p>HP: {{ pokemon.stats.hp }}</p>
                    <p>Attack: {{ pokemon.stats.attack }}</p>
                    <p>Defense: {{ pokemon.stats.defense }} </p> 
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="newpokemonModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="newpokemonModel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div
        class="modal-content justify-content-center"
        id="newPokemon-Modal-Content"
      >
        <div class="modal-body justify-content-center" id="newPokemon-Modal-Body">
          <div
            class="pokemon-card-outer text-center"
            id="generate-pokemon-card"
          >
            <h4 class="pokemon-card-name">{{ allPoke[selectedPoke-1].name }}</h4>
  
            <img src="{{ allPoke[selectedPoke - 1].imageUrl }}" class="pokemon-card-img" />
            <div class="pokemon-card-info-cont">
                <p>Cost: {{ allPoke[selectedPoke-1].cost }}</p>
                <p *ngIf= "allPoke[selectedPoke-1]?.type.length == 1">Type: {{ allPoke[selectedPoke-1].type[0].charAt(0).toUpperCase() + allPoke[selectedPoke-1].type[0].substring(1) }}</p>
                <p *ngIf= "allPoke[selectedPoke-1]?.type.length == 2"> Type: {{ allPoke[selectedPoke-1].type[1].charAt(0).toUpperCase() + allPoke[selectedPoke-1].type[1].substring(1) + " / "
                 + allPoke[selectedPoke-1].type[0].charAt(0).toUpperCase() + allPoke[selectedPoke-1].type[0].substring(1) }}</p>
                <p>HP: {{ allPoke[selectedPoke-1].stats.hp }}</p>
                <p>Attack: {{ allPoke[selectedPoke-1].stats.attack }}</p>
                <p>Defense: {{ allPoke[selectedPoke-1].stats.defense }} </p> 
            </div>
          </div>
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show d-none"
          id="no-credit-alert"
          role="alert"
        >
          <img src="http://i64.tinypic.com/2nhqjbp.png" alt="" />

          <strong>Oops!!</strong> You dont have enough credits.....

          <img
            src="http://i65.tinypic.com/27zauqe.png"
            alt="Image and video hosting by TinyPic"
          />
          <button
            id="login-alert"
            type="button"
            class="close"
            aria-label="Close"
            (click)="onAlertClose()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div
          class="alert alert-danger alert-dismissible fade show d-none"
          id="add-pokemon-alert"
          role="alert"
        >
          <img src="http://i64.tinypic.com/2nhqjbp.png" alt="" />

          <strong>I Choose You!!</strong> This Pokemon has been added to your
          collection.

          <img
            src="http://i65.tinypic.com/27zauqe.png"
            alt="Image and video hosting by TinyPic"
          />
          <button
            id="login-alert"
            type="button"
            class="close"
            aria-label="Close"
            (click)="onAlertClose()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <button
          data-toggle="modal"
          data-target="#newpokemonConfirm"
          class="shop-buy-btn"
          type="submit"
          (click)="onBuySubmit()"
        >
          I Choose You!
        </button>
        <button type="button" class="shop-buy-btn" data-dismiss="modal"  (click)="showBoughtMessage()">
          Close
        </button>
      </div>
    </div>
  </div>
  
