
  
  <!-- <div class="container">
    <div class="row">
      <div class="col"> -->
  <div class="container " id="shop-form-container">
    <div class="row justify-content-center">
      <div class="col justify-content-center" id="shop-form-col">
        <div class="shop-form-scroll">
          <form name="buyForm" #buyForm="ngForm" (ngSubmit)="onBuySubmit()" novalidate>
            <div id="shop-form-header">
              <img
                class="animated shake"
                id="poke-shop-header"
                src="https://fontmeme.com/permalink/190223/7f951f27330efe3f5e717c68950edf06.png"
                alt=""
              />
              <button
                data-toggle="modal"
                data-target="#newpokemonModal"
                class="shop-buy-btn"
                id="shop-buy-btn"
                type="submit"
              >
                Buy
              </button>
           
            </div>
  
            <div class="radio-card-grid">
              <div
                class="form-check radio-form-item"
                *ngFor="let pokemon of allPoke"
              >
                <input
                  class="form-check-input customRadioBtn"
                  type="radio"
                  #pokemonCard="ngModel"
                  name="gridRadios"
                  value="{{ pokemon.id }}"
                  checked
                  [(ngModel)]="pokemon.id"
                />
                <div class="pokemon-card-outer">
                  <label
                    class="form-check-label shop-poke-name"
                    for="gridRadios1"
                  >
                    {{ pokemon.name }}
                  </label>
                  <img class="pokemon-card-img" src="{{ pokemon.imageUrl }}" />
                  <div class="pokemon-card-info-cont">
                    <p>Type: {{ pokemon.type }}</p>
  
                    <!-- <p>HP: {{ pokemon.hp }}</p>
                    <p>Attack: {{ pokemon.attack }}</p>
                    <p>Defense: {{ pokemon.defense }}</p> -->
                    <p>Stats:</p>
                    <div *ngFor="let stats of stats">
                      <p>Attack: {{stats.attack }}</p>
                      <p>Defense: {{stats.defense }} </p>
                      <p>HP: {{stats.hp}}</p>
                      <p>Special-attack: {{stats.special-attack}}</p>
                      <p>Special-defense: {{stats.special-defense}}</p>
                      <p>Speed: {{stats.speed}}</p>
                    </div>
                    <!-- <p>Stats: {{ pokemon.stats }}</p> -->

                    <p>Cost: {{ pokemon.cost }}</p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
<div class="radio-card-grid" *ngIf="pokePages">
    <div class="form-check radio-form-item" *ngFor="let pokemon of pokePages">
      <input class="form-check-input customRadioBtn" type="radio" name="gridRadios"
        value="{{allPoke.pokemon.id}}" checked/>
    </div>
  </div>
  
  <!-- Modal for chosen pokemon-->
  <div
    class="modal fade"
    id="newpokemonModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="newpokemonModel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div
        class="modal-content justify-content-center"
        id="newPokemon-Modal-Content"
      >
        <div class="modal-body justify-content-center" id="newPokemon-Modal-Body">
          <img
            src="http://i66.tinypic.com/2rrwdck.png"
            id="generate-pokemon-pokeball"
            class="mb-3 animated shake"
            (click)="onBallClick()"
          />
          <div
            class="pokemon-card-outer text-center d-none "
            id="generate-pokemon-card"
          >
            <!-- *ngFor="let pokemon of pokemonArr" -->
            <h4 class="pokemon-card-name">{{ this.pokemonName }}</h4>
  
            <img src="{{ this.imageUrl }}" class="pokemon-card-img" />
            <div class="pokemon-card-info-cont">
                <p>Stats:</p>
                <div *ngFor="let stats of stats">
                  <p>Attack: {{this.stats.attack }}</p>
                  <p>Defense: {{this.stats.defense }} </p>
                  <p>HP: {{this.stats.hp}}</p>
                  <p>Special-attack: {{this.stats.special-attack}}</p>
                  <p>Special-defense: {{this.stats.special-defense}}</p>
                  <p>Speed: {{this.stats.speed}}</p>
                </div>
        </div>
          </div>
          <!-- start no credits alert -->
          <div
          class="alert alert-danger alert-dismissible fade show d-none"
          id="no-credit-alert"
          role="alert"
        >
          <img src="http://i64.tinypic.com/2nhqjbp.png" alt="" />

          <strong>Oops!!</strong> You dont have enough credits.....

          <img
            src="http://i65.tinypic.com/27zauqe.png"
            alt="Image and video hosting by TinyPic"
          />
          <button
            id="login-alert"
            type="button"
            class="close"
            aria-label="Close"
            (click)="onAlertClose()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- end no credit alert -->
        <!-- start I choose you alert -->
        <div
        class="alert alert-danger alert-dismissible fade show d-none"
        id="add-pokemon-alert"
        role="alert"
      >
        <img src="http://i64.tinypic.com/2nhqjbp.png" alt="" />

        <strong>I Choose You!!</strong> Pokemon has been added to your collection.

        <img
          src="http://i65.tinypic.com/27zauqe.png"
          alt="Image and video hosting by TinyPic"
        />
        <button
          id="login-alert"
          type="button"
          class="close"
          aria-label="Close"
          (click)="onAlertClose()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <!-- end I choose you alert -->
        <!-- start confirmation button -->
          <button
                data-toggle="modal"
                data-target="#newpokemonConfirm"
                class="shop-buy-btn"
                type="submit"
              >
                I Choose You!
              </button>
        <!--end confirmation button  -->
        <!-- start close button -->
          <button
            type="button"
            class="shop-buy-btn"
            data-dismiss="modal"
          >
            Close
          </button>
        <!-- end close button  -->
        </div>
      </div>
    </div>
  </div>
<!-- end modal -->
<!-- stuff thats on standby
     pagination form on standby 
    <form>
        <select name="setNumPoke" class="form-control" [(ngModel)]="numPoke" (change)="populatePokePages()">
          <option value=0>Number of Pokemon per page</option>
          <option value=20>20</option>
          <option value=50>50</option>
          <option value=100>100</option>
        </select>
      </form>
    </div>
      put number of pages in here
      <div class="row justify-content-md-center">
        <nav aria-label="Page navigation example">
          <ul>
            <li><a class="page-link" (click)="prevPage()" aria-label="Previous"></a></li>
            <li><a class="page-link" (click)="nextPage()" aria-label="Next"></a></li>
          </ul>
        </nav>
      </div>
    --> 
   
  