<nav
  class="navbar sticky-top navbar-expand-lg"
  id="baseNavBar"
  *ngIf="!login_status"
>
  <a href="" class="navbar-brand nav-link disabled float-left">Pokemon Collector</a>
  <button
    class="navbar-toggler navbar-toggler-right navbar-dark"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse float-right" id="navbarNav">
    <ul class="navbar-nav text-right">
      <li class="nav-item">
        <a
          class="nav-link customLink"
          href="/PokemonCollector/ng/login"
          routerLink="login"
          routerLinkActive="active-link"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link customLink"
          href="/PokemonCollector/ng/register"
          routerLink="register"
          routerLinkActive="active-link"
          >Sign Up</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link customLink"
          href="/PokemonCollector/ng/landing"
          routerLink="landing"
          routerLinkActive="active-link"
          >Home</a
        >
      </li>
    </ul>
  </div>
</nav>

<nav
  class="navbar sticky-top navbar-expand-lg mb-5"
  id="logged-nav-bar"
  *ngIf="login_status"
>
  <a href="" class="navbar-brand nav-link disabled float-left" id="noPadding">
    <img
      class="nav-link disabled"
      src="http://i65.tinypic.com/25iyve1.png"
      alt="Image and video hosting by TinyPic"
    />
  </a>
  <a href="" class="nav-link disabled float-left">Welcome, {{ this.trainer.username }}!</a>
  <a href="" class="nav-link disabled float-left">Credits: {{ this.trainer.credits }}</a>
  <a href="" class="nav-link disabled float-left">Score: {{ this.trainer.score }}</a>
  <button
    class="navbar-toggler navbar-toggler-right navbar-dark"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav2"
    aria-controls="navbarNav2"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse float-right" id="navbarNav2">
    <ul class="navbar-nav ml-auto text-right">
      <li class="nav-item active">
        <a
          class="nav-link customLink"
          href="/PokemonCollector/ng/generate"
          routerLink="generate"
          routerLinkActive="active-link"
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link customLink"
          href="/PokemonCollector/ng/shop"
          routerLink="shop"
          routerLinkActive="active-link"
          >Shop</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link customLink"
          href="/PokemonCollector/ng/redeem"
          routerLink="redeem"
          routerLinkActive="active-link"
          >Redeem</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link customLink"
          href="/PokemonCollector/ng/collection"
          routerLink="collection"
          routerLinkActive="active-link"
          >View Collection</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link customLink"
          href="/PokemonCollector/ng/landing"
          (click)="onLogout()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
