<div class="container">
    <div class="row">
      <div class="col" id="collection-section-header">
        <img
          class="animated jello"
          id="pokedex-heading"
          src="https://fontmeme.com/permalink/190224/f87c04db0b54e3b89caa3d1d3ee405fb.png"
          alt="pokemon-font"
        />
        <div id="card-gallery-grid">
          <div
            class="pokemon-card-outer text-center"
            *ngFor="let pokemon of trainersPokemon"
          >
            <h4 class="pokemon-card-name">{{ pokemon.pokemonName }}</h4>
            <img [src]="pokemon.image" class="pokemon-card-img" />
            <div class="pokemon-card-info-cont">
              <p>Type: {{ pokemon.types }}</p>
              <p>HP: {{ pokemon.stats[5].base_stat }}</p>
  
              <p>Attack: {{ pokemon.stats[3].base_stat }}</p>
              <p>Defense: {{ pokemon.stats[4].base_stat }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
