table {
  border-collapse: collapse;
  width : 100%;
  border: 3px solid #fff;
}

table, th, td {
}

td {
  text-align: center;
}

#leaderboardTable {
  background: linear-gradient(to top, #990033 0%, #cc0000 65%);
}

#button {
  background: linear-gradient(to top, #990033 0%, #cc0000 65%);
  border: 2px solid yellow;
  color: white;
}

html,
body {
  background: linear-gradient(to bottom left, #000066 0%, #666699 100%);
}

.grid-container {
  display: grid;
  grid-gap: 50px 100px;
}


/*

ISAIAH STYLING START
STYLING ADDITIONS

*/

#landingWrapper{
  margin-top: 50px;
  padding-bottom: 50px;
}

#landingLogo, #leaderLeftImg{
  width: 100%;
}

#leaderHeading{
  color:white;
  text-align: center;
}

#leaderLeftSection{
  border-radius: 35px;
  margin-right: 50px;
}

#leaderRightSection{
  border-radius: 15px;
  background: linear-gradient(to top, #990033 0%, #cc0000 65%);
  border: 3px solid #fff;
}

#statsBtn{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  background: linear-gradient(to bottom left, #000066 0%, #666699 100%);
  border: 3px solid #fff;
  color: #FFCD00;
  font-weight: bold;
  letter-spacing: 5px;
}
/* ISAIAH STYLING END */
h1 {
  color: white;
  text-align: center;
}

#outer-most {
  text-align: center;
}