table {
  border-collapse: collapse;
  width : 95%;
}

table, th, td {
  border: 1px solid yellow;
}

#leaderboardTable {
  border: 3px solid yellow;
  background: linear-gradient(to top, #990033 0%, #cc0000 65%);
}

#button {
  background: linear-gradient(to top, #990033 0%, #cc0000 65%);
  border: 2px solid yellow;
  color: white;
}

html,
body {
  background: linear-gradient(to bottom left, #000066 0%, #666699 100%);
}

.grid-container {
  display: grid;
  grid-gap: 50px 100px;
}

#tableusername {
  border: 3px solid yellow;
}

#tablescore {
  border: 3px solid yellow;
}
